/*
Plugin Name: Advanced Twitter Profile Widget
Plugin URI: http://selenagomez.com.pl/inne/twitter-profile-widget/
Description: Adds a sidebar widget to display Twitter updates (using the Javascript). 
Version: 1.0.7
Author: Krystian 'simivar' Marcisz
Author URI: http://simivar.net
*/

.twtr-widget a img {
	display: none;
}

.twtr-widget-profile img.twtr-profile-img {
	border:0 none !important;
	display:block;
	float:left;
	height:31px;
	width:31px;
}